  <md-dialog> 
    <md-content> 
      <md-input-container> 
        <label>Player 1</label> 
        <input ng-model="participant.player1" class="dialog-close"></input> 
      </md-input-container>
      <md-input-container>
        <label>Player 2</label> 
        <input ng-model="participant.player2" class="dialog-close"></input> 
      </md-input-container> 
    </md-content> 
    <div class="md-actions"> 
      <!-- type=button is needed so form uses submit button --> 
      <md-button type=button ng-click="cancel()">Cancel</md-button> 
      <md-button class="md-primary" type="submit" ng-click="hide()">Okay</md-button>
    </div>
  </md-dialog> 